annotated_h5/*
annovar_results/*
atomic/*
bam/*
cell_ranger_output/*
copy_kat_results/*
count_matrices/*
decrypted/*
delete_me/*
encrypted/*
error_files/*
fastq/*
filtered_h5/*
gsm_samps/*
integrated_samples/*
maf/*
pseudobulk_barcodes/*
premsim/*
stdout_files/*
temp/*
vartrix_results/*
vcf/*
numbat/*
scripts/.snakemake/*
scripts/.*
images/*
